*.ipynb
*.pkl
*.env
*.ipynb_checkpoints
*.DS_Store
*.gz
*.pptx
*.jpg
*.jpeg
__pycache__/
*.png
handwritings/jeina
png_logs/
*.obj
model_checkpoint_fail_2/
model_checkpoint_fail_1/
model_checkpoint_fail/
model_checkpoint/

